.ui-accordion {
	
}

.ui-accordion .ui-accordion-header {
	background: #801e9e; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgwMWU5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iIzYwMTk4NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MDFlOWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #801e9e 0%, #601986 98%, #801e9e 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #801e9e),
		color-stop(98%, #601986), color-stop(100%, #801e9e));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #801e9e 0%, #601986 98%, #801e9e 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #801e9e 0%, #601986 98%, #801e9e 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #801e9e 0%, #601986 98%, #801e9e 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #801e9e 0%, #601986 98%, #801e9e 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#801e9e',
		endColorstr='#801e9e', GradientType=0); /* IE6-8 */
	color: #fff;
	font-size: 12pt;
}

.ui-accordion .ui-accordion-header:hover {
	color: #fff;
}

.ui-accordion>.ui-accordion-content {
	padding: 5px 0px;
}

.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header
	{
	font-weight: bold;
	border: 0px;
}

.ui-accordion .ui-accordion-content {
	border: 0px;
	background: #fff;
}

.ui-accordion .ui-accordion-content a {
	font-weight: bold;
	color: #ff9933;
}

.ui-accordion-content ul {
	list-style-type: none;
}

.ui-accordion-content ul li {
	padding: 5px 0px;
}

.ui-corner-all {
	border-radius: 0px;
}